<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" stopOnFailure="false" bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="common">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <exclude>
            <directory>./vendor</directory>
        </exclude>
    </coverage>

    <logging>
        <testdoxHtml outputFile="logs/testdox.html"/>
        <testdoxText outputFile="logs/testdox.txt"/>
    </logging>
</phpunit>